<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>FurniSure</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .icon-hover-primary:hover {
  border-color: #3b71ca !important;
  background-color: white !important;
}

.icon-hover-primary:hover i {
  color: #3b71ca !important;
}
.icon-hover-danger:hover {
  border-color: #dc4c64 !important;
  background-color: white !important;
}

.icon-hover-danger:hover i {
  color: #dc4c64 !important;
}

        .order-card {
            border: none;
            border-radius: 15px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
            margin: 20px;
        }

        .order-card .card-header {
            background-color: #85C1E9;
            border-radius: 15px 15px 0 0;
            color: white;
        }

        .header {
            background-color: #3498db;
            color: #fff;
            padding: 20px 0;
        }

        .footer {
            background-color: #3498db;
            color: #fff;
            padding: 10px 0;
            text-align: center;
        }
    
    </style>
</head>
<body>
<header>
    <!-- Jumbotron -->
    <div class="p-3 text-center bg-white border-bottom">
        <div class="container">
            <div class="row gy-3">
                <!-- Left elements -->
                <div class="col-lg-2 col-sm-4 col-4">
                    <a href="#" target="_blank" class="float-start">
                        <img th:src="@{/images/logo.png}" src="../../static/images/logo.png" width="auto" height="50" />
                    </a>
                </div>
                <!-- Left elements -->

                <!-- Center elements -->
                <div class="order-lg-last col-lg-5 col-sm-8 col-8">
                    <div class="d-flex float-end">
                        <a href="" class="btn border" th:href="@{/user}">go back</a>
                        <a class="btn btn-outline-dark mt-auto" th:href="@{/cart}" href="#">Cart
                            <i class="bi-cart-fill me-1"></i>
                            <span th:text="${cartCount}" class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </a>
                        <div sec:authorize="isAnonymous()"><a th:href="@{/login}" class="me-1 btn btn-outline-dark mt-auto">Sign in</a></div>
                        <div sec:authorize="isAuthenticated()"><a th:href="@{/logout}" class="ms-1 me-3 btn btn-outline-dark mt-auto">Sign Out</a></div>
                    </div>
                </div>
                <!-- Center elements -->

                <!-- Right elements -->
                <div class="col-lg-5 col-md-12 col-12 ">
                    <form class="form-inline my-2 my-lg-0" action="/search" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control mr-2" name="name" placeholder="Search by name" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Right elements -->
            </div>
        </div>
    </div>
    <div class="header">
        <div class="container text-center">
            <h1>Order History</h1>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="alert alert-success fade show shadow-lg" role="alert" th:if="${cancelOrder}">
                    <span class="mr-2">
                        <i class="fas fa-exclamation-circle"></i>
                    </span>
                    <strong></strong> <span th:text="${cancelOrder}"></span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container mt-5">
        
        <div class="row">
            <div class=" col-md-6" th:each="orders : ${orders}">
                <div class="card order-card">
                    <div class="card-header">
                      Order id : <span th:text="${orders.id}"></span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Order Date: <span th:text="${orders.localDate}"></span></h5>
                        <p class="card-text ">Total Amount: <span th:text="${orders.amount}">fd</span> </p>
                        <p class="card-text ">Name: <span th:text="${orders.user.firstname}">df</span> </p>
                        <p>Order Status : <span th:text="${orders.orderStatus.status}"></span></p>
                        <p> Payment Method : <span th:text="${orders.paymentMethod.method}"></span></p>
                        <!-- <p th:if="${orders.orderStatus.status} == 'order confirmed'" class="card-text text-success" >Status: <span th:text="${orders.orderStatus.status}"></span></p> -->
                        <p></p>
                        <p class="card-text ">email: <span th:text="${orders.user.email}">fd</span> </p>
                        <p class="card-text ">Order total: <span th:text="${orders.amount}">dfgh</span>₹ </p>
                        <p class="card-text ">Payable amount (after discount): <span th:text="${orders.discountAmount}">dfgh</span>₹ </p>



                        products :
                        <div th:each="order : ${orders}">
                            <div th:each="orderItem : ${order.orderItems}">
                                <p th:text="${orderItem.product.name}"></p>
                            </div>
                        </div>
                        


                        <!-- <a th:href="@{/cancelOrder/{id}(id=${orders.id})}"  class="m-4 btn btn-danger" 
                        th:if="${orders.orderStatus.status} != 'order cancelled'" disabled>Cancel order</a> -->
                        
                         <!-- <a th:href="@{/returnProduct/{id}(id=${orders.id})}" erclass="m-4 btn btn-success">Return product</a> -->
                        <!-- <a th:href="@{/confirm/{id}(id=${orders.id})}" class="btn btn-warning">revert</a>  -->
                        <a th:if="${orders.orderStatus.status=='order delivered'}" th:href="@{/generate-invoice/{orderId}(orderId=${orders.id})}" class="btn btn-primary">Invoice</a>


                        

                    </div>
                </div>
            </div>

            
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <p>&copy; 2023 Your Company. All rights reserved.</p>
        </div>
    </div>
</body>
</html>
