
<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>FurniSure</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <style>
        /* Your custom CSS styles here */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        #radio-form {
            display: none;
        }

        #wallet-text {
            display: none;
        }
        .custom-card {
    background-color: #e9ff42; /* Light green background color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Light green shadow */
    }
    .main{
        background-color: #3498db;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
    }

    /* Style the container */
    .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Style the button */
        .dropdown .button {
            background-color: #3498db;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        /* Style the dropdown content (hidden by default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #3498db;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            border-radius: 6px;
        }

        /* Style the dropdown items */
        .dropdown-content .button {
            display: block;
            width: 100%;
            padding: 10px;
            text-align: left;
            border: none;
            background-color: inherit;
            cursor: pointer;
        }

        /* Change color on hover */
        .dropdown-content .button:hover {
            background-color: #FAF9F6;
            color: #3498db;
        }

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }
        a{
            text-decoration: none;

        }

    </style>
</head>
<body>
<header>
    <div class="p-3 text-center bg-white border-bottom">
        <div class="container">
            <div class="row gy-3">
                <div class="col-lg-2 col-sm-4 col-4">
                    <a href="#" target="_blank" class="float-start">
                        <img th:src="@{/images/logo.png}" src="../../static/images/logo.png" width="auto" height="50" />
                    </a>
                </div>

                <div class="order-lg-last col-lg-5 col-sm-8 col-8">
                    <div class="d-flex float-end">
                        
                        <a class="btn btn-outline-dark mt-auto" th:href="@{/cart}" href="#">
                            Cart
                            <i class="bi-cart-fill me-1"></i>
                            <span th:text="${cartCount}" class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </a>
                        <div sec:authorize="isAnonymous()">
                            <a th:href="@{/login}" class="me-1 btn btn-outline-dark mt-auto">Sign in</a>
                        </div>
                        <div sec:authorize="isAuthenticated()">
                            <a th:href="@{/logout}" class="ms-1 me-3 btn btn-outline-dark mt-auto">Sign Out</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-12">
                    <form class="form-inline my-2 my-lg-0" action="/search" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control mr-2" name="name" placeholder="Search by name" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-primary mb-4">
        <div class="container py-4">
            <h3 class="text-white mt-2">Checkout</h3>
            <nav class="d-flex mb-2">
                <h6 class="mb-0">
                    <a href="/" class="text-white-50">Home</a>
                    <span class="text-white-50 mx-2"> > </span>
                    <a href="/shop" class="text-white-50">Shop</a>
                    <span class="text-white-50 mx-2"> > </span>
                    <a href="#" class="text-white"><u>checkout</u></a>
                </h6>
            </nav>
        </div>
    </div>
</header>




<!-- section start -->




<section class="bg-light py-5 mb-4 border-2">
    <div class="container">
        <p th:if="${noMoney}" th:text="${noMoney}" class="alert alert-danger" role="alert"></p>
        <p th:if="${badCoupon}" th:text="${badCoupon}" class="alert alert-danger" role="alert"></p>
        <p th:if="${goodCoupon}" th:text="${goodCoupon}" class="alert alert-success" role="alert"></p>


        <form id="paymentForm" action="/user/submitOrder" method="post">
        <div class="row">
            <div class="col-lg-8">
                <div class="card mb-4 border shadow">
                    <div class="p-4">
                        <h5><b>1. Delivery Address</b></h5>
                        <!-- Content for delivery address here -->
                        
                        <div class="form-group">
                            <!-- Add the Bootstrap "form-control" class to the select element for styling -->
                            <select id="selectedAddress" name="selectedAddress" class="form-control">
                                <!-- Add an empty option to serve as a placeholder -->
                                <option th:if="${default}" th:value="${default.id}">
                                    <!-- Use Bootstrap classes for better formatting -->
                                    <span th:text="${'id: ' + default.id}"></span> -
                                    <span th:text="${'name: ' + default.userName}"></span>,
                                    <span th:text="${'street: ' + default.street}"></span>,
                                    <span th:text="${'city: ' + default.city}"></span>,
                                    <span th:text="${'zipCode: ' + default.zipCode}"></span>,
                                    <span th:text="${'state: ' + default.state}"></span>
                                </option>
                        
                        
                
                                <!-- Loop through your addresses using Thymeleaf -->
                                <div th:each="address : ${address}" th:unless="${address.id == default.id}">
                                    <option th:value="${address.id}">
                                        <!-- Use Bootstrap classes for better formatting -->
                                        <span th:text="${'id: ' + address.id}"></span> -
                                        <span th:text="${'name: ' + address.userName}"></span>,
                                        <span th:text="${'street: ' + address.street}"></span>,
                                        <span th:text="${'city: ' + address.city}"></span>,
                                        <span th:text="${'zipCode: ' + address.zipCode}"></span>,
                                        <span th:text="${'state: ' + address.state}"></span>
                                    </option>
                                </div>
                            </select>
                        </div>
                        
                        <a th:href="@{/newAddress}">+ Add new address</a>
                    </div>
                </div>
                <input type="hidden" id="selectedAddressId" name="selectedAddressId" />
                <div class="card mb-4 border shadow-lg ">
                    <div class="p-4">
                        <h5><b>2. Payment Method</b></h5>
                        <!-- Content for payment method here -->
                        <div class="dropdown">
                            <button class="main">Select Payment Method</button>
                            <div class="dropdown-content">
                                <button type="button" class="button" name="payOnDelivery" onclick="success()">Pay on Delivery</button>
                                <button type="button"class="button"  name="razorpay" onclick="createOrderAndOpenCheckout()">Razorpay</button>
                                <a th:href="@{'/payWallet?selectedAddress='}" name="wallet" id="walletLink" class="button a" onclick="setSelectedAddress()">Wallet</a>
                            </div>
                        </div>
                
                    </div>
                </div>

                <!-- Content for Offers (if any) -->

                <div th:each="item, iStat : ${items}">
                    <div class="card shadow-lg">
                        <div class="row">
                            <div class="col-md-6">
                                <img th:src="@{${'/productImages/' + item.product.imageName}}" class="border rounded me-3 shadow-lg" style="width: 250px; height: 250px;" />
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <div>
                                        <p class="card-text" th:text="${item.product.name}">Some quick example text to build on the card title and make up the bulk of the card's content</p>
                                        <p>quantity : <span th:text="${item.quantity}"></span></p>
                                        <p th:text="${item.product.description}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <button type="button" class="mt-3 btn btn-warning text-dark" onclick="createOrderAndOpenCheckout()">Place your order</button> -->

            </div>
        </form>


            <div class="col-lg-4">
                <div class="card mb-4 border shadow">
                    <div class="p-4">
                        <h6 class="mb-3">Summary</h6>
                        <!-- Content for summary, total price, discount, and shipping cost -->
                        <div class="d-flex justify-content-between">
                            <p class="mb-2">Total price:</p>
                            <p class="mb-2"><span>₹<span id="amount" th:text="${total}">2</span></span></p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <!-- <p class="mb-2">Discount:</p>
                            <p class="mb-2 text-danger">- <span th:text="${discount}"></span>₹</p> -->
                        </div>
                        <div class="d-flex justify-content-between">
                            <form th:action="@{/user/couponApply}" method="post">
            <div class="input-group mt-3 mb-4">
                <input type="text" class="form-control" name="couponCode"  placeholder="Discount code" aria-label="Discount code" />
                <button class="btn btn-outline-primary" type="submit">Apply</button>
                
            </div>
            
        </form>
                        </div>
                        <hr />
                       
                    </div>
                </div>
            </div>
        </div>
        
        <!-- <button class="btn btn-primary" type="button" onclick="createOrderAndOpenCheckout()">order placed</button></div> -->
</section>

<footer class="bg-white">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-4">
                <img src="images/md-bootstrap.png" height="50" alt="Logo">
                <p class="mt-4">Material Design for Bootstrap is the best way to use Material Design guidelines by Google in your Bootstrap 4 based application.</p>
            </div>
            <div class="col-md-2">
                <h6 class="mb-4">Links</h6>
                <ul class="list-unstyled">
                    <li><a href="#!">About us</a></li>
                    <li><a href="#!">Products</a></li>
                    <li><a href="#!">Tutorials</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h6 class="mb-4">Contact</h6>
                <ul class="list-unstyled">
                    <li><a href="#!">Contact us</a></li>
                    <li><a href="#!">Support</a></li>
                    <li><a href="#!">Privacy policy</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h6 class="mb-4">News</h6>
                <p>Get the latest updates and offers.</p>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="button-addon2">
                    <button class="btn btn-primary" type="button" id="button-addon2">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>


<script>
    // Function to set the value of the selected address in the hidden input
    function setSelectedAddress() {
        var selectedAddress = document.getElementById('selectedAddress').value;
        var walletLink = document.querySelector('.button.a');
        walletLink.href = walletLink.href + selectedAddress;
    }
</script>


<script>
    function success() {
        Swal.fire({
            title: "Order Placed!",
            text: "your item will be delivered soon!",
            icon: "success",
            showCancelButton: false,
            confirmButtonText: "Continue",
        }).then((result) => {
            // If the user clicks "Submit" in the SweetAlert2 popup, then manually trigger the form submission
            if (result.isConfirmed) {
                document.getElementById("paymentForm").submit();
            }
        });
    }
</script>



<script>

    var razorpayConfig = {
        key: "rzp_test_ZjDakOScsBJM19",
        name: "FurniSure",
        callback_url: "/payment/success/",
        description: "Payment for selected address",
        image: "/images/logo.png",
        amount: 0, // This will be calculated later
    };

    function createOrderAndOpenCheckout() {
        var selectedAddressId = document.getElementById("selectedAddress").value;
        document.getElementById("selectedAddressId").value = selectedAddressId;

        // Collect other payment data as needed
       // var amount = document.getElementById("amount").value;
       
       var amountSpan = document.getElementById("amount");

       if (amountSpan) {
        var amount = parseInt(amountSpan.textContent, 10);
        // Now 'amount' contains the text content of the 'amountSpan'
        console.log(amount);
        } else {
            console.log("Element with ID 'amount' not found.");
        }



     //   var contactCounts = document.getElementById("contactCounts").value;

        // Calculate the total amount (in paisa) based on your data
        var totalAmount = amount * 100;

        razorpayConfig.amount = totalAmount;

        // Make an AJAX request to create the order
        $.ajax({
            url: "/payment/createOrder", // Replace with your server endpoint
            type: "POST",
            data: {
                amount: amount, // Convert 'amount' to a float
            //   contactCounts: contactCounts,
                selectedAddressId: selectedAddressId
            },
            success: function (data) {
                // Assuming you get the Razorpay order ID in the response
                razorpayConfig.order_id = data.order_id;
                

                var rzp = new Razorpay(razorpayConfig);
                rzp.on("payment.failed", function (response) {
                    // Handle payment failure
                    console.log(response.error);
                });
                rzp.open();
            },
            error: function () {
                // Handle the error
            }
        });
    }
</script>

<!--<script>-->
<!--    var xhttp = new XMLHttpRequest();-->
<!--    function CreateOrderID(amount) {-->
<!--        totalAmount = amount*100;-->
<!--        xhttp.open("GET", "/payment/createOrderId/"+totalAmount, false);-->
<!--        xhttp.send();-->
<!--        var razorpayOrderId = xhttp.responseText;-->
<!--        console.log("razorpayOrderId" + razorpayOrderId);-->
<!--        OpenCheckout(amount, razorpayOrderId);-->
<!--    }-->
<!--</script>-->

<!--<script src="https://checkout.razorpay.com/v1/checkout.js"></script>-->
<!--<script>-->
<!--    function OpenCheckout(amount, razorpayOrderId) {-->
<!--        var options = {-->
<!--            "key": "[[${rzp_key_id}]]", // Enter the Key ID generated from the Dashboard-->
<!--            "amount": totalAmount.toString(), // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise-->
<!--&lt;!&ndash;            "currency": "[[${rzp_currency}]]",&ndash;&gt;-->
<!--            "name": "[[${rzp_company_name}]]",-->
<!--    &lt;!&ndash;        "description": description,&ndash;&gt;-->
<!--            "image": "/assets/users/images/logo.png",-->
<!--            "order_id": razorpayOrderId, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1-->
<!--            "callback_url": "/payment/success/"+amount+"/[[${rzp_company_name}]]",-->
<!--            "notes": {-->
<!--                "company_name": "[[${rzp_company_name}]]",-->
<!--            },-->
<!--            "theme": {-->
<!--                "color": "#004A55"-->
<!--            }-->
<!--        };-->
<!--        var rzp1 = new Razorpay(options);-->
<!--        rzp1.on('payment.failed', function (response){-->
<!--                console.log(response.error.code);-->
<!--                console.log(response.error.description);-->
<!--                console.log(response.error.source);-->
<!--                console.log(response.error.step);-->
<!--                console.log(response.error.reason);-->
<!--                console.log(response.error.metadata.order_id);-->
<!--                console.log(response.error.metadata.payment_id);-->
<!--        });-->
<!--        rzp1.open();-->
<!--        e.preventDefault();-->
<!--    }-->
<!--</script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-6zy5EXzWqpF+ur0tUf1CsJ4tdFwtNpd2wUrS9l5l3dBO7z6GscumW5x2Rbi8fZpze" crossorigin="anonymous"></script>-->
<!--<script>-->
<!--    // When the user changes the selection, handle the selected option-->
<!--    document.getElementById("myDropdown").addEventListener("change", function() {-->
<!--      var selectedOption = this.options[this.selectedIndex].value;-->
<!--      if (selectedOption) {-->
<!--        // Perform the action based on the selected option-->
<!--        window.location.href = "#" + selectedOption;-->
<!--      }-->
<!--    });-->
<!--    </script>-->
<!--    -->
</body>
</html>
